/* Font Montserrat & Noto Sans Korean */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,800&family=Noto+Sans+KR:wght@300&display=swap');
*{
  font-family: var(--primary-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #fff;
  --secondary-color: #222222;
  --tertiary-color: #f96400;
  --quaternary-color: #f4f4f4;
  --quinary-color: #0565bb;
  --senary-color: #fcd32a;
  --septenary-color: #111111;
  --octonary-color: #fccb05;
  --nonary-color: #ff5500;
  --denary-color: #a9a9a9;

  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Noto Sans Korean', sans-serif;
}

.swiper-container{
  width: 90%;
  margin: auto;
}