/* Font Montserrat & Noto Sans Korean */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,800&family=Noto+Sans+KR:wght@300&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #f96400;
  --quaternary-color: #f4f4f4;
  --quinary-color: #0565bb;
  --senary-color: #fcd32a;
}

.swiper-container{
  width: 90%;
  margin: auto;
}